<div class="row g-3">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row h4">
                        <div class="col-5">Nama</div>
                        <div class="col-1">:</div>
                        <div class="col-6 text-black-50"><%= nama %></div>
                    </div>

                    <div class="row h4">
                        <div class="col-5">NPM</div>
                        <div class="col-1">:</div>
                        <div class="col-6 text-black-50"><%= npm %></div>
                    </div>

                    <div class="row h4">
                        <div class="col-5">Tahun Ajaran</div>
                        <div class="col-1">:</div>
                        <div class="col-6 text-black-50"><%= thajaran %></div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6">
                    <div class="row h4">
                        <div class="col-5">Dosen Pembimbing 1</div>
                        <div class="col-1">:</div>
                        <div class="col-6  text-black-50"><%= dosbing1 %></div>
                    </div>

                    <div class="row h4">
                        <div class="col-5">Dosen Pembimbing 2</div>
                        <div class="col-1">:</div>
                        <div class="col-6 text-black-50"><%= dosbing2 %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

