<nav class="navbar navbar-light bg-light mb-3">
  <div class="container mb-0" style="width: 80%">
    <ul class="navbar-nav d-flex flex-row gap-3">

      <% if (role === 'kaprodi') { %>
        <!-- Navbar Kaprodi -->
         <div class="d-flex flex-row gap-3">
        <li class="nav-item">
          <a class="nav-link <%= activePage === 'dashboard' ? 'active' : '' %>" href="/<%= role %>/dashboard">Beranda</a>
        </li>            
        <li class="nav-item">
          <a class="nav-link <%= activePage === 'penetapan-penguji' ? 'active' : '' %>" href="/<%= role %>/penetapan-penguji">Penetapan Dosen Penguji</a>
        </li>        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle <%= ['daftar-dosen', 'daftar-mahasiswa'].includes(activePage) ? 'active' : '' %>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dosen & Mahasiswa
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item <%= activePage === 'daftar-dosen' ? 'active' : '' %>" href="/<%= role %>/daftar/daftar-dosen">Daftar Dosen</a></li>
            <li><a class="dropdown-item <%= activePage === 'daftar-mahasiswa' ? 'active' : '' %>" href="/<%= role %>/daftar/daftar-mahasiswa">Daftar Mahasiswa</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= activePage === 'monitoring' ? 'active' : '' %>" href="/<%= role %>/monitoring">Monitoring</a>
        </li>
        </div>
        
      <% } %>

    </ul>
  </div>
</nav>
