<style>
@font-face {
    font-family: 'Times New Roman Custom';
    src: url("https://pqhvckeycgcqlnjcjqvp.supabase.co/storage/v1/object/public/storage_sipuapi/times.ttf") format("truetype");
}

body {
    font-family: 'Times New Roman Custom', serif;
    font-size: 12pt;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.surat-wrapper {
    width: 100%;
    font-family: 'Times New Roman Custom', serif; 
}

/* Pastikan semua elemen menggunakan font custom agar tidak kembali ke default */
.kop, .kop h3, .alamat, p, table, ul, li, .catatan {
    font-family: 'Times New Roman Custom', serif !important;
}

/* Sisanya tetap gunakan CSS yang sudah kamu buat sebelumnya */
</style>

<div class="surat-wrapper">
    <div style="display: flex; align-items: flex-start; gap: 15px;">
        <div style="flex-shrink: 0;">
            <img src="<%= logoPath %>" alt="Logo Kampus" style="width: 125px; height: auto;">
        </div>

        <div class="kop" style="flex-grow: 1;">
            <% if (typeof kopSurat !== 'undefined' && kopSurat) { %>
                <%- kopSurat.replace(/\n/g, '<br>') %>
            <% } else { %>
                KEMENTERIAN PENDIDIKAN TINGGI, SAINS, DAN TEKNOLOGI
                <strong>UNIVERSITAS LAMPUNG - FAKULTAS TEKNIK</strong>
                <h3>PROGRAM STUDI PROGRAM PROFESI INSINYUR</h3>
            <% } %>

            <div class="alamat">
                Gedung A Dekanat Fakultas Teknik <br>
                Jalan Prof. Dr. Soemantri Brojonegoro No. 1 Bandar Lampung 35145 <br>
                Telepon (0721) 704947 Fax. (0721) 704947 <br>
                Email: <a href="mailto:ppi@eng.unila.ac.id">ppi@eng.unila.ac.id</a>
            </div>
        </div>
    </div>

    <div class="kop-line"></div>

    <div class="baris-info" style="display: flex; justify-content: space-between; margin-bottom: 15px;">
        <table style="border: none;">
            <tr>
                <td style="width: 50px;">Nomor</td>
                <td>:</td>
                <td style="text-indent: 1.5em;">/UN26.15.17/PPI.00/2025</td>
            </tr>
            <tr>
                <td>Hal</td>
                <td>:</td>
                <td>Undangan Ujian Akhir Profesi</td>
            </tr>
        </table>

        <div style="flex-shrink: 0;">
            <%= tanggalSurat %>
        </div>
    </div>

    <div class="informasi">
      <div style="margin-top: 10px;">
          Yth.<br>
          <strong><%= pembimbing1 || '-' %></strong><br>
          <strong><%= pembimbing2 || '-' %></strong><br>
          <strong><%= penguji || '-' %></strong><br>
          <strong><%= namaMahasiswa %> (Mahasiswa)</strong><br>
          
          <div style="margin-top: 10px;">
              di
              <div style="text-indent: 1.5em;">
                  Tempat
              </div>
          </div>
      </div>

      <p style="margin-top: 20px;">
          Dengan hormat,
      </p>
    </div>

    <div class="content">
        <p style="text-align: justify;">
            <% if (typeof kalimatPembuka !== 'undefined' && kalimatPembuka) { %>
                <%- kalimatPembuka.replace(/\n/g, '<br>') %>
            <% } else { %>
                Sebagai salah satu syarat untuk menyelesaikan studi pada Program Studi Program Profesi Insinyur (PS-PPI) Universitas Lampung (Unila), maka kami mengundang Bapak/Ibu/Sdr pada:
            <% } %>
        </p>

        <table style="border: none; margin-top: 10px;">
            <tr>
                <td style="width: 130px;">Hari / Tanggal</td>
                <td style="width: 10px;">:</td>
                <td><%= tanggalUjian || '-' %></td>
            </tr>
            <tr>
                <td>Waktu</td>
                <td>:</td>
                <td><%= waktuUjian || '-' %> WIB </td>
            </tr>    
            <tr>
                <td>Tempat</td>
                <td>:</td>
                <td class="jadwal" style="vertical-align: top;">
                    <% if (tipeUjian === 'offline') { %>
                        <%= tempatUjian %>
                
                    <% } else if (tipeUjian === 'online') { %>
                        Zoom Meeting <br>
                
                        <% if (meetingID) { %>
                            ID Rapat : <%= meetingID %> <br>
                        <% } %>
                
                        <% if (passcode) { %>
                            Kode Sandi : <%= passcode %> <br>
                        <% } %>
                
                        <% if (linkZoom) { %>
                            <a href="<%= linkZoom %>" target="_blank" style="color: blue; text-decoration: underline; word-break: break-all;">
                                <%= linkZoom %>
                            </a>
                        <% } %>
                
                    <% } %>
                </td>
            </tr>
        </table>
        
        <br>
        <table style="border: none; ">
            <tr>
                <td style="width: 130px;">Pembimbing I</td>
                <td style="width: 10px;">:</td>
                <td><%= pembimbing1 || '-' %></td>
            </tr>    
            <tr>
                <td>Pembimbing II</td>
                <td style="width: 10px;">:</td>
                <td><%= pembimbing2 || '-' %></td>
            </tr>
            <tr>
                <td>Penguji</td>
                <td style="width: 10px;">:</td>
                <td><%= penguji || '-' %></td>
            </tr>    
        </table>
        
        <br>
        <% if (typeof isi !== 'undefined' && isi) { %>
            <%- isi.replace(/\n/g, '<br>') %>
            <% } else { %>
            Untuk melaksanakan Ujian Akhir Profesi Mahasiswa **):
            <% } %>
        <table style="border: none; ">
            <tr>
                <td style="width: 130px;">Nama</td>
                <td style="width: 10px;">:</td>
                <td><%= namaMahasiswa %></td>
            </tr>
            <tr>
                <td>NPM</td>
                <td style="width: 10px;">:</td>
                <td><%= npm %></td>
            </tr>
        </table>

        <p style="margin-top: 10px;">
            <% if (typeof kalimatPenutup !== 'undefined' && kalimatPenutup) { %>
                <%- kalimatPenutup.replace(/\n/g, '<br>') %>
            <% } else { %>
                Demikian atas perhatian dan kerjasama yang baik kami ucapkan terima kasih.
            <% } %>
        </p>
    </div>

    <div class="signature">
        <div class="signature-content">
            Ketua,<br>
            <br><br><br>
            <%= kaprodi?.nama || '-' %><br>
            NIP <%= kaprodi?.nip_dosen || '-' %>
        </div>
    </div>

    <div class="catatan" style="font-family: 'Times New Roman', serif; font-size: 11pt; white-space: pre-line;">
        <div style="font-weight: bold;">Catatan:</div>
        <%- catatanKaki %>
    </div>
</div>


