<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- FullCalendar core + locale -->
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/locales-all.global.min.js"></script>

  <!-- FullCalendar styles -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/main.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/list.min.css" rel="stylesheet" />

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

</head>
<body>

  <% if(role === 'admin'){ %>
      <!-- Sidebar Admin (hanya tampil kalau hideSidebar false) -->
      <% if(!hideSidebar){ %>
        <%- include('partials/sidebar', {activePage: currentPage, role: 'admin'}) %>
        
              <div class="content">
                  <!-- Header -->
                  <%- include('partials/header') %>
        
                  <!-- Body halaman spesifik -->
                  <div class="container">
                    <%- body %>
                  </div>
        
                  <!-- Footer -->
                  <%- include('partials/footer') %>

    <% } else { %>
      <!-- Header umum -->
      <%- include('partials/header') %>

      <!-- Body halaman spesifik -->
      <div class="container" style="width: 75%">
        <%- body %>
      </div>

      <!-- Footer -->
      <%- include('partials/footer') %>
      <% } %>

  <% } else if(role === 'kaprodi'){ %>
          <% if(!hideSidebar){ %>
      <!-- Navbar Kaprodi -->
      <%- include('partials/header') %>
      <%- include('partials/navbar', {activePage: currentPage, role: 'kaprodi'}) %>

      <!-- Body halaman spesifik -->
      <div class="container" style="width:80%">
        <%- body %>
      </div>

      <!-- Footer -->
      <%- include('partials/footer') %>
          <% } else { %>
      <!-- Header umum -->
      <%- include('partials/header') %>

      <!-- Body halaman spesifik -->
      <div class="container" style="width: 85%">
        <%- body %>
      </div>

      <!-- Footer -->
      <%- include('partials/footer') %>
      <% } %>

  <% } else { %>
      <!-- Header umum -->
      <%- include('partials/header') %>

      <!-- Body halaman spesifik -->
      <div class="container" style="width: 75%">
        <%- body %>
      </div>

      <!-- Footer -->
      <%- include('partials/footer') %>
  <% } %>

  <!-- JS Global -->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/partials/calendar-handler.js"></script>
  <script src="/js/partials/chart.js"></script>
  <script src="/js/partials/button-handler.js"></script>
  <script src="/js/partials/modal-handler.js"></script>
  <script src="/js/partials/upload-button.js"></script>
  <script src="/js/partials/sidebar-toggle.js"></script>
  <script src="/js/partials/section-toggle.js"></script>

</body>
</html>
